cigna/cobol/*.cbl zos-working-tree-encoding=UTF-8 git-encoding=utf-8
azure/cobol/*.cbl zos-working-tree-encoding=UTF-8 git-encoding=utf-8
zunit/cobol/*.cbl zos-working-tree-encoding=UTF-8 git-encoding=utf-8
cigna/copybook/*.cpy zos-working-tree-encoding=UTF-8 git-encoding=utf-8
dbb/copybook/*.cpy zos-working-tree-encoding=UTF-8 git-encoding=utf-8
cigna/jcl/*.jcl zos-working-tree-encoding=UTF-8 git-encoding=utf-8
zunit/jcl/*.jcl zos-working-tree-encoding=UTF-8 git-encoding=utf-8
cigna/cobol/*.cbl zos-working-tree-encoding=iso8859-1 git-encoding=utf-8
azure/cobol/*.cbl zos-working-tree-encoding=iso8859-1 git-encoding=utf-8
zunit/cobol/*.cbl zos-working-tree-encoding=iso8859-1 git-encoding=utf-8
cigna/copybook/*.cpy zos-working-tree-encoding=iso8859-1 git-encoding=utf-8
dbb/copybook/*.cpy zos-working-tree-encoding=iso8859-1 git-encoding=utf-8
cigna/jcl/*.jcl zos-working-tree-encoding=iso8859-1 git-encoding=utf-8
zunit/jcl/*.jcl zos-working-tree-encoding=iso8859-1 git-encoding=utf-8
